<header class="bg-blue-500 text-white p-4">
    <h1 class="text-3xl">Library Management System</h1>
</header>
<nav class="bg-white p-4 shadow">
    <ul class="flex items-center justify-end gap-4">
        <li class="mr-4">
            <a href="dashboard.php" class="text-blue-500">Dashboard</a>
        </li>
        <li class="mr-4">
            <a href="manage_users.php" class="text-blue-500">Manage Users</a>
        </li>
        <li class="mr-4">
            <a href="manage_books.php" class="text-blue-500">Manage Books</a>
        </li>
        <li class="mr-4">
            <a href="../auth/logout.php" class="text-blue-500">Logout</a>
        </li>
    </ul>
</nav>